.blog__top {
  background: url('./img/blog_main.png') no-repeat center center $azul-marino;
  background-size: cover;
  padding: 95px 0 78px;
  position: relative;

  .blog__title {
    color: $amarillo;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
  }

  .squares {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.blog__bottom {
  .blog-filter {
    .filter-collapse {
      padding: 0 15px;
      width: 100%;

      a {
        color: $gris;
        font-weight: 300;
        font-size: 20px;
      }

      .nav-pills {
        text-align: center;

        li {
          float: none;
          text-align: center;

          &:hover a {
            background-color: transparent;
            color: $azul-marino;
          }

          @media (min-width: $screen-sm-min) {
            display: inline-block;
            width: auto;
          }
        }

        .active {
          position: relative;

          a {
            background-color: transparent;
            color: $azul-marino;
            font-weight: 500;

            &:focus, &:hover {
              background-color: transparent;
              color: $azul-marino;
              font-weight: 500;
            }
          }

          &:after {
            background-color: $amarillo;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }
        }
      }

      @media (min-width: $screen-sm-min) {
        margin: 60px auto 66px;
        max-width: 1024px;
        width: 90%;
      }
    }
  }
}

.blog__item {
  border: none;
  padding: 0;
  margin-bottom: 25px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-md-min) {
    max-width: none;
  }

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .caption {
    padding: 16px;
    word-wrap: break-word;
  }

  .caption__title {
    font-size: 21px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 18px;
  }

  .caption__description {
    color: $gris;
    font-size: 14px;
    font-weight: 300;
  }

  .caption__extras {
    color: $gris;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;

    > div {
      padding-left: 0;
    }

    .icon {
      margin: 3px 10px 0 0;
      vertical-align: text-top;
    }

    a {
      color: $gris;
    }
  }

  .thumbnail__img {
    width: 100%;
    padding-bottom: 70%;
    background-size: cover;
    background-position: center center;
    background-image: url('./img/image-placeholder.png');
  }

  &.blue {
    .caption {
      background-color: $azul-marino;
    }

    .caption__title {
      color: $amarillo;
    }
  }

  &.white {
    .caption {
      background-color: $blanco;
    }

    .caption__title {
      color: $azul-cielo;

      a {
        color: $azul-cielo;
      }
    }
  }
}

article.single {
  border-bottom: 1px solid rgba($gris, 0.7);

  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .post-title {
    word-wrap: break-word;

    a {
      color: $azul-marino;
    }
  }

  .post-thumbnail {
    text-align: center;
    margin: 0 0 1.5em 0;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }

  .post-info {
    margin: 0.5em 0 1.5em 0;

    a{
      color: $azul-marino;
    }

    .tags, .date {
      display: inline;
    }

    .tags:before {
      content: '•';
      margin: 0 10px;
    }
  }

  .read-more {
    margin: 1em 0;
    font-weight: 400;
  }

  .excerpt.content, .post-inner-content {
    font-weight: 300;
  }
}