//== Colors
//

$blanco?=              #FFF
$amarillo ?=           #F2D01E
$azul-marino?=         #1B1E3D
$azul-cielo?=          #89D2DC
$azul?=                #235789
$gris?=                #9B9B9B

body 
	color $azul-marino
.container-fluid
	padding 0
.row 
	margin 0
.header
	position absolute
	left 0
	right 0
	top 0
	z-index 99
	display flex
	align-items center
	width 100%
	transform translateY(-140px)
	@media (min-width $screen-md-min)
		&.has-top-bar
			top 25px
	&__logo
		position relative
		z-index 99
		overflow hidden
		width 150px
		height 60px
		@media (min-width $screen-sm-min)
			width 135px
			height 84px
		@media (min-width 1025px)
			width 188px
			height 99px
		img 
			width 100%
			height auto

		&::before
			content ""
			position absolute
			left 0
			top 0
			z-index 1
			width 100%
			height 100%
			background-color $azul-marino
			transform translateY(100%)
			transition transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1)
		svg
			position relative
			z-index 2
			display block
			width 100px
			height 44px
			transform translateZ(0)
			#Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-10
				fill $blanco
			@media (min-width $screen-sm-min)
				width 100px
				height 55px
			@media (min-width 1025px)
				width 158px
				height 80px
			@media (min-width $screen-md-min)
				#Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-10
					fill $azul-marino
		&:hover
			@media (min-width 1025px)
				&::before
					transform translateY(0)
			svg
				#Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-10
					fill $blanco
			
	&__progress
		position absolute
		left 100px
		right 0
		top 0
		bottom 0
		z-index 2
		display none
		opacity 0.5
		flex none
		height 100%
		background-color $azul
		transform-origin 0 0
		@media (min-width $screen-sm-min)
			left 128px
	&.show
		transform translateY(0)
	nav
		.page-cont
			display none
			width 72px
			height 72px
			text-align center
			line-height 72px
			background $amarillo
			color $azul-marino
			font-size 2em
			font-weight 500
			margin-left 20px
		ul.navbar-nav
			margin-top 25px
			margin-right 0
			margin-left 0
			>li
				> a
					text-shadow none
					color $blanco
					font-size 0.9em
					text-align center
					@media (min-width 1025px)
						font-size 1em
						text-align center
					&::after
						content ''
						width 0%
						height 2px
						background $brand-primary
						display block
						position absolute
						bottom 10%
						left 50%
						margin-left 0%
						transition all 0.4s ease-in-out
					&.nav-link__contacto
						overflow hidden
						color $azul-marino
						border-radius 4px
						&::after
							display none
					.button__bg
						background-color $amarillo
						position absolute
						top 0
						left 0
						height 100%
						width 100%
						z-index -1
						&::before, &::after
							content ''
							position absolute
							height 100%
							width 100%
							top 100%
							left 0
							z-index -1
							-webkit-transition -webkit-transform .2s
							transition -webkit-transform .2s
							transition transform .2s
							transition transform .2s,-webkit-transform .2s
							-webkit-transition-timing-function cubic-bezier(.75,0,.125,1)
							transition-timing-function cubic-bezier(.75,0,.125,1)
							background-clip content-box
							padding 1px
						&::before
							background $azul-cielo
						&::after
							background $blanco
					&:hover, &:focus, &.active
						background none !important
						&::after
							width 50%
							margin-left -25%
						.button__bg
							&::before, &::after
								transform translate3d(0,-100%,0)
							&::after 
								transition-delay .15s
								
		
	&.fixed
		position fixed
		left 0
		right 0
		top 0
		z-index 99
		height 52px
		box-shadow 0 8px 20px 0 rgba(0, 0, 0, 0.2)
		background-color $azul-marino
		animation showHeader 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards
		@media (min-width $screen-md-min)
			height 72px
			&.has-top-bar
				top 25px
		.navbar-collapse
			height calc(100vh - 52px)
		.navbar-brand
			padding 10px 15px
		.header__logo
			width 100px
			height 52px
			@media (min-width $screen-md-min)
				width 128px
				height 71px
			svg
				width 80px
				height 35px
				@media (min-width $screen-md-min)
					width 109px
					height 50px
					
				#Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-10
					fill $blanco
		nav 
			position relative
			z-index 9
			.page-cont
				@media (min-width 1025px)
					display block
			ul.navbar-nav
				margin-top 12px	
		.header__progress
			display block

.navbar-collapse
	background $azul-marino
	border none
	position fixed
	width 80%
	top 0
	height 100vh
	z-index 5
	transform translateX(-120%)
	transition transform 0.33s ease-out
	display block
	overflow-x scroll
	@media (min-width $screen-md-min)
		position relative
		width 100%
		height auto
		transform none
		background none
	.nav>li
		padding 20px 0
		@media (min-width $screen-md-min)
			padding 0
		>a
			font-size 1.2em
			@media (min-width $screen-md-min)
				font-size 1em

.navbar-toggle .icon-bar
	transition all 0.2s

.navbar-toggle.x .icon-bar:nth-of-type(1)
	transform rotate(45deg)
	transform-origin 10% 10%

.navbar-toggle.x .icon-bar:nth-of-type(2) 
	opacity 0

.navbar-toggle.x .icon-bar:nth-of-type(3)
	transform rotate(-45deg)
	transform-origin 10% 90%

.collapse.in
	transform translateX(0%)

@keyframes showHeader
	0% 
		transform translateY(-100%)
	

	100% 
		transform none
	

@keyframes hideHeader 
	0% 
		transform translateY(0)


	100% 
		transform translateY(-100%)

.navbar-toggle
	z-index 5
	.icon-bar
		background $blanco
.cursor__inner
	z-index 9999
	pointer-events none
	position absolute
	top 0
	left 0
	mix-blend-mode difference

.cursor__inner--dot 
	width 6px
	height 6px
	background #fff

.cursor__inner--circle
	width 20px
	height 20px
	border 1px solid #fff

			
.cd-slider-wrapper
	position relative
	width 100%
	margin 0
	overflow-x hidden
	background $blanco
.slideshow 
	widt 100%
	height 80vh
	position relative
	overflow hidden
	@media (min-width $screen-sm-min)
		height 100vh
	svg.formas
		position absolute
		top 40%
		left 20px
		z-index 5
		display none
		@media (min-width 1025px)
			display block
	svg.cuadros
		position absolute
		top 15%
		right 20px
		z-index 5
		display none
		@media (min-width 1025px)
			display block
.slides
	position absolute
	width 100%
	height 100%
	&--images
		
		.slide
			&:after
				content ''
				position absolute
				opacity 0
				top 0
				left 0
				height 100%
				width 100%
				background-color rgba(11, 15, 39, 0.83)
				transition opacity 0.2s ease-in-out
			@media (min-width $screen-sm-min)
				&:after
					clip-path polygon(50% 0, 100% 0, 100% 100%, 25% 100%)
					transition opacity 0.2s ease-in-out
			&--current
				&:after
					opacity 1
.slide
	position absolute
	width 100%
	height 100%
	overflow hidden
	opacity 0
	pointer-events none
	display flex
	flex-direction column
	align-content center
	justify-content center
	align-items center
	
	&--current
		opacity 1
		pointer-events auto

	&__img
		position absolute
		top -200px
		left -200px
		width calc(100% + 300px)
		height calc(100% + 300px)
		background-size cover
		background-position 50% 50%

			
.slidenav
	position absolute
	height 40px
	bottom 50px
	right 50%
	margin-right -50px
	@media (min-width $screen-sm-min)
		height 60px
		bottom 100px
		right 70px
		margin-right 0
	&__item
		width 40px
		height 40px
		margin-left 10px
		float left
		line-height 40px
		text-align center
		cursor pointer
		background $blanco
		z-index 100
		border-radius 50%
		border-width 0
		-webkit-user-select none  
		-moz-user-select none 
		-khtml-user-select none
		-ms-user-select none
		transition all 0.1s ease
		@media (min-width $screen-sm-min)
			width 60px
			height 60px
			line-height 60px
		&:focus
			outline none
		&:hover
			background $azul-marino
			color $blanco


.shape
	position absolute
	width 100%
	height 100%
	fill var(--color-shape-fill)
	top 0
	pointer-events none

.slide__title
	position relative
	font-size 12vw
	margin 0
	cursor default
	line-height 1
	color $blanco

.slide__desc
	position relative
	font-size 1.8em
	margin 2em auto
	cursor default
	color $amarillo
	max-width 90%
	padding 0 1em
	text-align center
	z-index 10
	@media (min-width $screen-sm-min)
		margin 4em 0 2em 30%
		text-align left
		max-width 50%
		font-size 2.5em

.slide__link 
	position relative
	font-size 1em
	font-weight bold
	padding 1em 2em
	display block
	color var(--color-slink)
	background var(--color-slink-bg)
	transition color 0.3s, background 0.3s
	&:hover
		color var(--color-slink-hover)
		background var(--color-slink-hover-bg)

  
.section
	h2 
		font-size 3rem
		color $azul-marino
		white-space pre
		text-align center
		opacity 1
		@media (min-width $screen-md-min)
			text-align left
			position fixed
			writing-mode vertical-lr
			top 75px
			right 0
			z-index 1000
			display none
			opacity 0
	&.active
		h2
			display block
			animation-name showAsc
			animation-duration 1s
			animation-fill-mode forwards
		
	&__description
		text-align center
		color $azul
		font-size 2rem
		max-width 800px
		margin 40px auto
		padding 0 20px
		@media (min-width $screen-sm-min)
			font-size 3rem
			padding 0
	&__hacemos
		padding 30px
		background $blanco
		&__description
			margin-top 0
		@media (min-width $screen-md-min)
			padding 100px 72px
		.col
			background $blanco
			height 380px
			text-align center
			padding-top 75px
			padding-bottom 75px
			border 1px solid #E4E4E5
			border-width 0 1px 1px 0
			position relative
			overflow hidden
			transition background 0.4s ease-in-out
			&:nth-of-type(1n)
				border-right-width 0
			@media (min-width $screen-sm-min)
				&:nth-of-type(1n)
					border-right-width 1px
				&:nth-of-type(2n)
					border-right-width 0
				&:nth-of-type(n+7)
					border-bottom-width 0
			@media (min-width $screen-md-min)
				&:nth-of-type(2n)
					border-right-width 1px
				&:nth-of-type(3n)
					border-right-width 0
				&:nth-of-type(n+7)
					border-bottom-width 0
			@media (min-width $screen-lg)
				&:nth-of-type(4n)
					border-right-width 0
				&:nth-of-type(3n)
					border-right-width 1px
				&:nth-of-type(n+5)
					border-bottom-width 0
				
			h3 
				font-size 2rem
				transition all 0.4s ease-in-out
			figure
				height 160px
				transition all 0.4s ease-in-out
				svg 
					fill #666
					width 160px
					height 160px
					transition fill 0.4s ease-in-out
			.what__do__description
				display none
				font-weight 300
				font-size 15px
				padding 0 10px
				opacity 0
				transition opacity 0.4s ease-in-out
			&:hover
				background $amarillo
				color $azul-marino
				padding-top 40px
				padding-bottom 40px
				z-index 5
				transform scale(1.2)
				box-shadow 0 19px 38px rgba(137,210,220,0.30), 0 15px 12px rgba(137,210,220,0.22) 
				h3 
					font-weight 400
					color $azul-marino
				figure
					height 70px
					img,svg
						height 70px
						path 
							fill $azul-marino
				.what__do__description
					display block
					opacity 1
	&__filosofia
		position relative
		svg 
			position absolute
			top 0
			left 0
			z-index 5
			display none
			@media (min-width $screen-sm-min)
				display block
	&__clientes
		background $azul-marino
		padding 40px 0 80px
		h2
			color $azul-cielo
		.section__description
			color $blanco
			
		.col-sm
			figure
				width 100%
				height 130px
				margin 0 auto
				line-height 130px
				text-align center
				padding 0 30px
				@media (min-width $screen-sm-min)
					width 252px
					height 200px
					line-height 200px
					padding 0 10px
				img
					@media (max-width $screen-xs-min)
						width 100%
	&__contacto
		background $blanco
		padding-top 40px
		@media (min-width $screen-sm-min)
			padding-top 0
		h2
			color $azul-marino
			@media (min-width $screen-sm-min)
				color $blanco
		.section__description
			padding 0 30px 40px 30px
			@media (min-width $screen-sm-min)
				padding 0 50px 40px 50px
		&_form
			padding 0 30px 40px 30px
			@media (min-width $screen-sm-min)
				padding 0 50px 40px 50px
			label
				color $azul-marino
				font-weight 300

		&--bg
			background $azul
			padding-top 80px
			padding-bottom 80px
			.text__buscar
				font-size 30px
				color $blanco
				padding 0 30px 10px 30px
				line-height 32px
				max-width 80%
				@media (min-width $screen-sm-min)
					font-size 40px
					line-height 52px
					padding 0 50px 10px 50px
			.form-group
				padding 0 30px 40px 30px
				margin-bottom 0
				@media (min-width $screen-sm-min)
					padding 0 50px 40px 50px
				label
					color $blanco
					font-size 14px
				p 
					color $amarillo
					font-size 24px
				&--phone
					p 
						font-size 32px
			.btn 
				margin-left 30px
				padding 6px 20px
				@media (min-width $screen-sm-min)
					margin-left 50px
					
footer
	padding 30px 15px
	background $blanco
	@media (min-width $screen-sm-min)
		padding 60px 15px 30px
	.col-sm
		@media (max-width $screen-sm-min)
			text-align center
			padding 15px 0
	a 
		color $azul-marino
		&:hover, &:focus
			color $amarillo
		
	.social-media
		a 
			padding 0 10px
.form-control
	border 1px solid #E5E5E5
	box-shadow none
	outline none
	-webkit-appearance none
	-moz-appearance none
	appearance none

@keyframes showAsc
	0%
		opacity 0
		-webkit-transform translate3d(0,40px,0)
		transform translate3d(0,40px,0)

	100%
		opacity 1
		-webkit-transform translate3d(0,0,0)
		transform translate3d(0,0,0)
		
.row:before, .row:after
	display none !important



/* Slider */
.cd-hero {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./img/img-filosofia.png);
  overflow:hidden;
  height: 360px;
}

.cd-hero__slider {
  position: absolute;
  height: 360px;
  width: 100%;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  overflow: hidden;
  list-style: none;
  transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}

.cd-hero__slide {
  position: relative;
  float:left;
  width: 100%;
  height: 100%;
}

.cd-hero__slide.cd-hero__slide--selected {
  /* this is the visible slide */
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.cd-hero__slide.cd-hero__slide--move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.cd-hero__slide.cd-hero__slide--is-moving,
.cd-hero__slide.cd-hero__slide--selected {
  /* the cd-hero__slide--is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media only screen and (min-width: 768px) {
  .cd-hero__slider {
    height: 680px;
  }
  .cd-hero{
  	height: 680px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero__slider {
    height: 680px;
  }
  .cd-hero{
  	height: 680px;
  }
}

/* Slide style */

.cd-hero__content.cd-hero__content--full-width,
.cd-hero__content.cd-hero__content--half-width {
  position: absolute;
  background-color: $azul-marino;
  width: 80%;
  z-index: 1;
  right: 0;
  top: 60px;
  /* this padding is used to align the text */
  padding: 15px;
  text-align: left;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content h2, .cd-hero__content p, .cd-hero__btn, .cd-hero__content--img img {
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content.cd-hero__content--img {
  /* hide image on mobile device */
  display: none;
}

.cd-hero__content--img img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cd-hero__content.cd-hero__content--bg-video {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cd-hero__content--bg-video video {
  /* you won't see this element in the html, but it will be injected using javascript */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cd-hero__content h2, .cd-hero__content p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 0 14px;
  color: #ffffff;
  width: 100%;
}

.cd-hero__content h3 {
  font-size: 2.4rem;
  color: $blanco;
}
.cd-hero__content h3 span{
	color:$amarillo;
	font-weight: 500;
	font-size: 1.2em;
}


.cd-hero__content p {
  font-size: 1.4rem;
  line-height: 1.4;
}


@media only screen and (min-width: 768px) {
	.cd-hero__content.cd-hero__content--full-width,
	.cd-hero__content.cd-hero__content--half-width {
		width: 60%;
		top: 260px;
		padding: 30px;
	}
  .cd-hero__slide:nth-of-type(2),
  .cd-hero__slide:nth-of-type(3),
  .cd-hero__slide:nth-of-type(4) {
    background-image: none;
  }
  .cd-hero__content.cd-hero__content--bg-video {
    display: block;
  }
  .cd-hero__content.cd-hero__content--half-width {
    width: 45%;
  }
  .cd-hero__content.cd-hero__content--half-width:first-of-type {
    left: 5%;
  }
  .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero__content.cd-hero__content--img {
    display: block;
  }
  .cd-hero__content h3, .cd-hero__content p {
    max-width: 520px;
  }
  .cd-hero__content h3 {
    font-size: 2.4em;
    font-weight: 300;
  }
  
}

@media only screen and (min-width: 1170px) {
  .cd-hero__content h3, .cd-hero__content p {
    margin-bottom: 20px;
    margin-top:0px;
  }
  .cd-hero__content h3 {
    font-size: 3em;
  }
  .cd-hero__content p {
    font-size: 1.6rem;
  }
}

/* Single slide animation */
@media only screen and (min-width: 768px) {
  .cd-hero__content.cd-hero__content--half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
            transform: translateX(40px);
  }
  .cd-hero__slide--move-left .cd-hero__content.cd-hero__content--half-width {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
  }

  .cd-hero__slide--is-moving .cd-hero__content.cd-hero__content--half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s, -webkit-transform 0s 0.5s;
  }
  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2),
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }
  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type,
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, -webkit-transform 0.5s 0.4s;
  }
  .cd-hero__content--full-width h2,
  .cd-hero__content--full-width p,
  .cd-hero__content--full-width .cd-hero__btn {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
  }
  .cd-hero__slide--move-left .cd-hero__content--full-width h2,
  .cd-hero__slide--move-left .cd-hero__content--full-width p,
  .cd-hero__slide--move-left .cd-hero__content--full-width .cd-hero__btn {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .cd-hero__slide--selected .cd-hero__content--full-width h2,
  .cd-hero__slide--selected .cd-hero__content--full-width p,
  .cd-hero__slide--selected .cd-hero__content--full-width .cd-hero__btn {
    /* this is the visible slide */
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .cd-hero__slide--is-moving .cd-hero__content--full-width h2,
  .cd-hero__slide--is-moving .cd-hero__content--full-width p,
  .cd-hero__slide--is-moving .cd-hero__content--full-width .cd-hero__btn {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the li parent before set translate to 100px/-100px */
    -webkit-transition: -webkit-transform 0s 0.5s;
    transition: -webkit-transform 0s 0.5s;
    transition: transform 0s 0.5s;
    transition: transform 0s 0.5s, -webkit-transform 0s 0.5s;
  }
  .cd-hero__slide--selected h2 {
    -webkit-transition: -webkit-transform 0.5s 0.2s;
    transition: -webkit-transform 0.5s 0.2s;
    transition: transform 0.5s 0.2s;
    transition: transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }
  .cd-hero__slide--selected p {
    -webkit-transition: -webkit-transform 0.5s 0.3s;
    transition: -webkit-transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
  }
  .cd-hero__slide--selected .cd-hero__btn {
    -webkit-transition: background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
    transition: background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: transform 0.5s 0.4s, background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
  }
}

.navigation
	position absolute
	height 40px
	bottom 50px
	right 50%
	margin-right -50px
	@media (min-width $screen-sm-min)
		height 60px
		bottom 100px
		right 70px
		margin-right 0
.btns
	width 40px
	height 40px
	margin-left 10px
	float left
	line-height 40px
	text-align center
	cursor pointer
	background $blanco
	z-index 100
	border-radius 50%
	-webkit-user-select none  
	-moz-user-select none 
	-khtml-user-select none
	-ms-user-select none
	transition all 0.1s ease
	@media (min-width $screen-sm-min)
		width 60px
		height 60px
		line-height 60px
	&:hover
		background $azul-marino
		color $blanco

#counter,.counter
	float left
	line-height 60px
	margin-right 15px
	display block
	@media (max-width $screen-sm-min)
		width 100%
		text-align center
		display none
	span.active
		font-size 18px
		font-weight 500
		color $azul-marino
		padding 0 10px 
		letter-spacing 5px
	span.separate
		width 100px 
		height 5px
		line-height 55px
		background $amarillo
		display inline-block
	span.total
		font-size 18px
		font-weight 300
		color $blanco
		padding 0 10px 
		letter-spacing 5px
.counter
	span.active
		color $amarillo
	


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:90%;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
	display:none;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
	top:0; 
}

#pagination-wrap ul li.active{
	width:12px;
	height:12px;
	top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}

.ip-header {
	position: fixed;
	top: 0;
	z-index: 100;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background:$azul-marino;
}

.ip-header > div {
	margin: 0;
	text-align:center;
}

.ip-header > h1 {
	margin: 0;
	margin-top: 180px;
	text-align:center;
	color:#fff;
	font-size: 2rem;
}
@media only screen and (min-width: 768px) {
	.ip-header h2 {
		font-size: 3rem;
	}
}

.ip-logo,
.ip-loader, .ip-description {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}

.ip-logo {
	top: 0;
	height: 100%;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.ip-description {
	top: 0;
	height: 100%;
	-webkit-transform: translate3d(0,25%,0);
	transform: translate3d(0,25%,0);
}

.ip-loader {
	bottom: 20%;
}

.ip-header .ip-inner {
	display: block;
	margin: 0 auto;
}

.ip-header .ip-logo svg {
	width: 25%;
	height: 150px;
}

.ip-header .ip-logo svg
	#Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-10
		fill $blanco
		
.ip-header .ip-loader svg path {
	fill: none;
	stroke-width: 6;
}

.ip-header .ip-loader svg path.ip-loader-circlebg {
	stroke: #ddd;
}

.ip-header .ip-loader svg path.ip-loader-circle {
	-webkit-transition: stroke-dashoffset 0.2s;
	transition: stroke-dashoffset 0.2s;
	stroke: $amarillo;
}


/* Animations */

/* Initial animation of header elements */
.loading .ip-logo,
.loading .ip-loader, .loading .ip-description {
	opacity: 1;
	-webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .ip-loader {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}

/* Header elements when loading finishes */
.loaded .ip-logo,
.loaded .ip-loader, .loaded .ip-description{
	opacity: 1;
}

.loaded .ip-logos {
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .ip-loader {
	-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Change the color of the logo */
.loaded .ip-logo svg
	#Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-10
		fill $azul-marino
		transition all 0.5s ease 0.3s


/* Header animation when loading finishes */
.loaded .ip-header {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}



@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Change layout class for header */
.layout-switch .ip-header {
	position: absolute;
}


