.ecommerce-slideshow
	svg.formas, svg.cuadros, svg.shape, .slides--images .slide::after
		display none

	.slide__img
		@media (max-width $screen-md-max)
			background-position bottom center
	.slide__img::after
		@media (max-width $screen-md-max)
			content ''
			position absolute
			top 0
			left 0
			background rgba(27,30,61,0.5)
			width 100%
			height 100%
	.slide__desc
		position relative
		font-size 1.8em
		margin 2em auto
		cursor default
		color $amarillo
		max-width 90%
		padding 0 1em
		text-align center
		z-index 10
		@media (min-width $screen-lg-min)
			margin 230px 65% 10em 0
			text-align left
			max-width 40%
			font-size 2em
		.slide-title
			font-size 1.5em
			font-weight bold
			@media (min-width $screen-lg-min)
				color $azul-marino
		.slide-subtitle
			color #fff
			font-size 1em
			@media (min-width $screen-lg-min)
					color #000
	svg.formas
		top 65%

.section
	&__ecommerce
		padding 30px
		background $blanco
		&__description
			margin-top 0
		@media (min-width $screen-md-min)
			padding 100px 72px
		.col
			background $blanco
			height 380px
			text-align center
			padding-top 75px
			padding-bottom 75px
			border 1px solid #E4E4E5
			border-width 0 1px 1px 0
			position relative
			overflow hidden
			transition background 0.4s ease-in-out
			&:nth-of-type(1n)
				border-right-width 0
			@media (min-width $screen-sm-min)
				&:nth-of-type(1n)
					border-right-width 1px
				&:nth-of-type(2n)
					border-right-width 0
				&:nth-of-type(n+7)
					border-bottom-width 0
			@media (min-width $screen-lg-min)
				&:nth-of-type(2n)
					border-right-width 1px
				&:nth-of-type(3n)
					border-right-width 0
				&:nth-of-type(n+4)
					border-bottom-width 0
				
			h3 
				font-size 2rem
				transition all 0.4s ease-in-out
			figure
				height 160px
				transition all 0.4s ease-in-out
				svg 
					fill #666
					width 160px
					height 160px
					transition fill 0.4s ease-in-out
			.what__do__description
				display none
				font-weight 300
				font-size 15px
				padding 0 10px
				opacity 0
				transition opacity 0.4s ease-in-out
			&:hover
				background $amarillo
				color $azul-marino
				padding-top 40px
				padding-bottom 40px
				z-index 5
				transform scale(1.2)
				box-shadow 0 19px 38px rgba(137,210,220,0.30), 0 15px 12px rgba(137,210,220,0.22) 
				h3 
					font-weight 400
					color $azul-marino
				figure
					height 70px
					img,svg
						height 70px
						path 
							fill $azul-marino
				.what__do__description
					display block
					opacity 1
	&__ofrecemos
		background $azul-marino
		padding 30px 0
		h2
			color $blanco
		@media (min-width $screen-md-min)
			padding 60px
		figure
			background $amarillo
			border-radius 50%
			height 0
			padding-bottom 100%
			margin auto
			position relative
			svg
				width 100%
				height auto
				padding 20%
				position absolute
				top 0
				left 0
				path 
					fill $azul-marino
		.main-title
			color $amarillo
			font-size 2em
			font-weight bold
			text-align center
			padding 0 0 1em 0
			@media (min-width $screen-md-min)
				padding 40px
				font-size: 3.5em
				text-align left
		.figure-title
			color $blanco
			font-weight bold
			margin 1em 0 2.5em 0
	&__filosofia
		h2 
			color $blanco
	&__contacto
		.wow.animated label
			font-size 2em !important
		a
			color $blanco
		.contactanos-text
			color $amarillo
			font-size 50px
			font-weight bold
			@media (min-width $screen-md-min)
				margin-top 3em