.send-CV
    margin 15px 0
    text-align center
    @media (min-width $screen-sm-min)
        text-align left

.jobs__bottom
    .job-filter
        .filter-collapse
            .filter-nav
                list-style none
                padding 0
                margin 0
                li
                    margin 10px 0
                    >a
                        color $azul-marino
                        font-weight 300
                    &.active
                        text-decoration underline

    .job-item
        border 1px solid #E4E4E5
        padding 5px
        transition all 0.15s ease-in-out
        margin 0 0 20px 0
        color $azul-marino

        &-header
            margin 0 0 15px 0 
        &-aim
            font-weight 300
        &-date
            text-align center
        &:hover
            box-shadow 0 10px 20px rgba(137,210,220,0.30), 0 15px 12px rgba(137,210,220,0.22)
            transform scale(1.01)

.jobs__top
  background url('./img/blog_main.png') no-repeat center center $azul-marino
  background-size cover
  padding 95px 0 78px
  position relative

  .jobs__title
    color $amarillo
    font-size 50px
    line-height 60px
    letter-spacing 1.5px
    margin 0 auto
    font-weight 500
    z-index 2
    text-align center

  .squares
    position absolute
    bottom 0
    right 0
    z-index 1

article.job-single
    .job-single-data
        ul
            list-style none
            padding 0
            >li
                margin 20px 0
    .job-single-aim, .job-single-content
        margin 30px 0
        div
            font-weight 300
    .send-CV
        text-align center