/* MVPs */
.dgk-project-mvp-container{
    background: white;
    margin: 1em 0;
}
.dgk-project-mvp-container .handle{
    margin: 0 0 1em 0;
}
.dgk-project-mvp-container .remove-mvp{
    color: red;
}
.dgk-project-mvp-placeholder{
    height: 2em;
    margin: 1em 0;
    border: 1px dotted black;
    background: rgba(0,0,0,0.5);
}


/* Invoices */
.dgk-project-invoice-container{
    margin: 1em 0;
    padding: 1em;
    border: 1px dashed black;
    background: white;
}
.dgk-project-invoice-container .remove-invoice{
    color: red;
}
.dgk-project-invoice-placeholder{
    height: 4em;
    margin: 1em 0;
    border: 1px dotted black;
    background: rgba(0,0,0,0.5);
}
