.comments-area
    margin-top 5em
    .comment-list, .children
        list-style none
        padding-left 0px

    ul
        &.children
            list-style none
            padding-left 0px
            margin-left 0px

    .comment-wrap
        border-top 1px solid rgba($gris, 0.7)
        padding-top 2em
        margin-top 2.5em
        position relative

    .comment-list
        >li
            &:first-child
                .comment-wrap
                    border 0
            &:last-child
                .comment-wrap
                    border-bottom 1px solid rgba($gris, 0.7)
                    padding-bottom 2em
                    margin-bottom 2.5em
                    
    .comment-img
        float left
        margin-right 2em

    .comment-author
        text-align left

    .comment-body
        padding 2em 0

    .comment-reply
        float right

    .comment-author, .comment-author a
        text-transform uppercase
        letter-spacing 2px
        margin-bottom 0.5em

    .comment-date
        font-size 0.75em
        text-transform uppercase
        letter-spacing 2px
        display block
        padding-bottom 1em

    .depth-2
        .comment-wrap
            padding-left 3em

    .depth-3
        .comment-wrap
            padding-left 6em

    .depth-4
        .comment-wrap
            padding-left 9em

    .depth-5
        .comment-wrap
            padding-left 12em

    .depth-6
        .comment-wrap
            padding-left 15em

    .depth-7
        .comment-wrap
            padding-left 18em

    .depth-8
        .comment-wrap
            padding-left 21em

    .depth-9
        .comment-wrap
            padding-left 24em

    .depth-10
        .comment-wrap
            padding-left 27em

    #commentform #comment, #commentform #author, #commentform #email, #commentform #url
        display block
        width 100%

    .navigation
        position static
        h2 
            font-size 1em

    @media (max-width $screen-sm-min)
        .comment-list, .children
            padding-left 0px

 
        .comment-author, .comment-author a, .comment-date, .comment-img
            text-align center

        .comment-img
            float none
            text-align center
            margin 0
            img
                margin 0 auto

        .depth-2 .comment-wrap, .depth-3 .comment-wrap, .depth-4 .comment-wrap, .depth-5 .comment-wrap, .depth-6 .comment-wrap, .depth-7 .comment-wrap, .depth-8 .comment-wrap, .depth-9 .comment-wrap, .depth-10 .comment-wrap
            padding-left 0px

.comment-respond
    margin 1em
    padding 0.5em 2em
    border 1px dashed rgba($gris, 0.7)