.ajax-notifications
    margin 0 0 10px 0
    .dgk-spinner
        margin 0 auto
        width 100%
        height 30px
        text-align center
        display none

        .rect
            background-color $azul-marino
            height 100%
            width 6px
            display inline-block
            vertical-align middle
            animation sk-stretchdelay 1.2s infinite ease-in-out
            margin 0 2px
            &.rect2 
                animation-delay -1.1s
            &.rect3 
                animation-delay -1.0s
            &.rect4 
                animation-delay -0.9s
            &.rect5 
                animation-delay -0.8s
        .loading
            display block
    .end-reached
        margin 10px
        text-align center
        display none

@keyframes sk-stretchdelay 
    0%, 40%, 100%  
        transform scaleY(0.4)
    20%  
        transform scaleY(1.0)

.load-more-container
    text-align center
    button.load-more
        display none

.no-data
    padding 8em 0
    p
        font-weight 300

.data-item-container
    width 100%

.page-count
    margin 20px 0 10px 0

.filter-controls
    padding 30px 0
    position relative
    @media (min-width $screen-sm-min)
        padding 0

    .navbar-toggle
        position absolute
        left 0
        top 0
        .icon-bar 
            background #000
            animation none
        .show-filters
            white-space nowrap
            position absolute
            left 100%
            bottom 5px
        @media (min-width $screen-sm-min)
            display none

.filter-collapse
    @media (min-width $screen-sm-min)
        display block
        height auto !important