#loginform
    .checkbox
        margin-left 3px

    .anr_captcha_field_div
        >div
            margin 0 auto
    .ajax-notifications
        margin 1em 0
        .error
            color red
        .success
            font-size 2em