body:not(.home):not(.page-template-template-ecommerce-landing)
    .header
        &.fixed
            .page-cont
                display: none;

section.site-content
    padding 52px 0 0 0
    @media (min-width $screen-md-min)
        padding 97px 0 0 0

.page-title
    position relative
    font-weight 400

.single-title
    font-weight 400

.no-results
    padding 5em 0