.search-form-container {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    .btn_search {
        border-right: none;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        color: $azul-marino;
        padding-top: 5px;
        padding-bottom: 5px;

        .icon {
            height: 32px;
            width: 32px;
        }
    }
    .input-group-btn + .form-control {
        border-left: none;
        height: 50px;
    }
}
