.top-bar
    z-index 100
    display flex
    align-items center
    border-top 1px solid $blanco
    @media (min-width $screen-md-min)
        position absolute
        left 0
        right 0
        top -25px
        width 100%
        height 25px
        background $amarillo
        border-top 0
    ul:not(.dropdown-menu)
        padding 0
        margin 0
        list-style none
        display flex
        flex-direction column
        flex-wrap wrap
        width 100%
        @media (min-width $screen-md-min)
            flex-direction row
            width auto
            &.right
                position absolute
                right 0
        
        >li
            display flex
            align-items center
            @media (min-width $screen-md-min)
                &:not(:last-child)::after
                    content ""
                    border-right 1px solid $azul-marino
                    height 20px
                    opacity 0.5
            >a
                padding 15px 0
                font-weight 300
                text-decoration none
                width 100%
                @media (min-width $screen-md-min)
                    color $azul-marino
                    padding 0 10px
            &.active, &:hover
                >a
                    font-weight 400  
            &.active
                >a
                   &:before
                        content '>'
    
    ul.dropdown-menu
        border-top-right-radius 0
        border-top-left-radius 0
        .username
            >span
                padding 3px 20px
                font-weight 300
                display block

        @media (max-width $screen-sm-max)
            right auto
            width 100%