.row.project-select {
    .project-last-update {
        margin: 2em 0;
        color: $gris;
    }

    select {
        appearance: menulist;
    }
}

.row.project-description, .row.project-mvps, .row.project-scope, .row.project-invoices {
    margin: 2em 0;
}

.row.project-title{
    .page-title{
        margin: 0;
        padding: 0.5em 0;
        position: relative;
        font-weight: 400;
        .formas{
            position: absolute;
            bottom: 0;
            top: 0;
            height: 2em;
            margin-left: 10px;
        }
    }
}

.row.project-invoices {
    .list-group {
        .list-group-item {
            a {
                >.glyphicon {
                    font-size: 2.5em;
                    vertical-align: middle;
                    margin: 0 0.25em 0 0;
                }
            }
        }
    }
}

.tabccordion {
    @media (min-width: $screen-md-min) {
        .panel-heading {
            display: none;
        }

        .panel {
            border: none;
            box-shadow: none;
        }

        .panel-collapse {
            height: auto !important;

            &.collapse {
                display: block;
            }
        }
    }

    @media (max-width: $screen-md-min) {
        .tab-content {
            .tab-pane {
                display: block;
            }
        }

        .nav-tabs {
            display: none;
        }

        .panel-title a {
            display: block;
            outline: 0;
            font-weight: 400;
            color: $amarillo;
        }

        .panel {
            margin: 0;
            box-shadow: none;
            border-radius: 0;
            margin-top: -2px;
        }

        .tab-pane {
            &:first-child {
                .panel {
                    border-radius: 5px 5px 0 0;
                }
            }

            &:last-child {
                .panel {
                    border-radius: 0 0 5px 5px;
                }
            }
        }
    }
}

.tabccordion.mvps {
    .nav-tabs > li {
        >a {
            text-align: center;

            &:hover, &:focus {
                background: none;
                outline: 0;
            }
        }

        &.active {
            .progress-circle {
                z-index: 3;
            }

            >a {
                &:before, &:after {
                    content: '▼';
                }
            }
        }
    }

    .panel-heading {
        background: $blanco;
    }

    .progress {
        margin: 1em 0 0 0;

        .progress-bar {
            color: $blanco;
            transition: none;
            background: $azul-marino;
        }
    }
}

.progress-circle {
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    margin: 10px 5px;

    .barOverflow { /* Wraps the rotating .bar */
        position: relative;
        overflow: hidden; /* Comment this line to understand the trick */
        width: 240px;
        height: 120px; /* Half circle (overflow) */
        margin-bottom: -14px; /* bring the numbers up */
        margin-left: auto;
        margin-right: auto;

        .bar {
            display: none;
            width: 240px;
            height: 240px; /* full circle! */
            border-radius: 50%;
            box-sizing: border-box;
            border: 50px solid #eee; /* half gray, */
            border-bottom-color: $azul-marino; /* half azure */
            border-right-color: $azul-marino;
        }
    }
}