.user-nav
    .dropdown-menu
        background $blanco !important
        .username
            >span
                padding 3px 20px
                font-weight 300
                display block

    .open > a
        &,
        &:hover,
        &:focus
            background-color transparent
            border-color transparent